@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.div-1-header {
  background-color: #000000;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 90px;
  height: 20px;
  font-size: 10px;
}

.div-1-header nav ul{
  display: flex;
  list-style: none;
}

.div-1-header nav ul li {
  padding: 0px 10px;
  display: flex;
}

.div-1-header nav ul i {
  font-size: 15px;
}

header .section-2-header {
  background-color: #f0a83e;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

header {
  position: sticky;
  top: 0px;
  z-index: 100;
}

header .section-2-header .menu {
  visibility: hidden;
}

header .section-2-header ul {
  display: flex;
  color: #f3f3f3;
}

header .section-2-header i {
  color: #f3f3f3;
}

header .section-2-header ul li {
  list-style: none;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

header .section-2-header article {
  display: flex;
  align-items: center;
}

header .section-2-header article img {
  width: 20px;
  height: 23px;
}

header .section-2-header article h1{
  color: #ffffff;
}

header .section-2-header article h1 span{
  color: #3c2313;
}

main .section-1-main{
  background-image: url("./image/bowl-and-pet-daities-on-green-background\ 1.png");
  background-repeat: no-repeat;
  height: 409px;
}

main .section-1-main article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  position: relative;
  left: 650px;
  top: 150px;
}

main .section-1-main article h2 {
  background-color: #ffffff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

main .section-1-main article p {
  margin: 5px;
  color: #3C2313;
}

main .section-1-main article a {
  padding: 15px 23px;
  margin: 5px;
  background-color: #F0A83E;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}

main .section-2-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

main .section-2-main h2 {
  font-size: 40px;
  color: #3c2313;
  font-weight: 700;
  margin-bottom: 20px;
}

main .section-2-main article a {
  font-size: 15px;
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  margin: 0px 10px;
}

main .section-3-main {
  display: flex;
  justify-content: space-around;
  padding: 0px 50px;
  margin-top: 25px;
}

main .section-4-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

main .section-4-main h3 {
  color: #3C2313;
  margin-bottom: 20px;
  font-size: 25px;
}

main .section-4-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .section-4-main form input {
  background-color: #3c2313;
  width: 340px;
  height: 40px;
  border-radius: 15px;
  border: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

main .section-4-main form input::placeholder {
  color: #ffffff;
  padding-left: 14px;
  font-size: 9px;
}

main .section-4-main form button {
  border: 0px solid black;
  border-radius: 15px;
  width: 110px;
  height: 34px;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 75px;
}

main .section-4-main form .button-reset {
  background-color: #8A8787;
  color: #ffffff;

}

main .section-4-main form .button-submit {
  background-color: #F0A83E;
  color: #ffffff;
}

footer .section-1-footer {
  background-color: #f0a83e;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

footer .section-1-footer div {
  display: flex;
  color: #ffffff
}

footer .section-1-footer div h2 {
  font-size: 20px;
  margin-left: 10px;
}

footer .section-1-footer form {
  display: flex;
  align-items: center;
}

footer .section-1-footer form input {
  width: 270px;
  height: 40px;
  border: 0px;
  border-radius: 15px;
}

footer .section-1-footer form input::placeholder {
  color: #A0A0A0;
  padding-left: 8px;
  font-size: 9px;
}

footer .section-1-footer form button {
  background-color: #3C2313;
  color: #ffffff;
  font-size: 9px;
  border: 0px;
  border-radius: 25px;
  width: 70px;
  height: 34px;
  margin-left: 5px;
  margin-right: 25px;
}

footer .section-2-footer {
  height: 284px;
  background-color: #3c2313;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  padding-left: 70px;
}

footer .section-2-footer article {
  display: flex;
  align-items: center;
}

footer .section-2-footer article img {
  padding-right: 25px;
}

footer .section-2-footer article div h3 {
  color: #ffffff;
  font-size: 20px;
}

footer .section-2-footer article div p {
  color: #8a8787;
  font-size: 10px;
}

footer .section-3-footer {
  background-color: #222222;
  color: #ffffff;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}


@media(max-width: 460px) {
  body {
    width: 460px;
  }

  .div-1-header{
    display: none;
  }
  
  header .section-2-header .menu {
    visibility: visible;
  }

  header .section-2-header ul {
    display: none;
  }

  main .section-1-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .section-1-main article {
    left: auto;
    top: auto;
  }

  main .section-1-main article p {
    color: #ffffff;
  }

  main .section-2-main {
    display: flex;
    flex-wrap: wrap;
  }

  main .section-3-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .section-3-main article {
    margin: 20px 0px;
  }

  footer .section-1-footer {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }

  footer .section-1-footer div h2 {
    margin-bottom: 5px;
  }

  footer .section-1-footer form {
    margin-bottom: 5px;
  }
}






