@import url('https://fonts.googleapis.com/css2?family=Anton&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');

body {
  margin: auto;
  width: 1024px;
  font-family: 'Teko', sans-serif;
}

/* ---------- HEADER ---------- */

header {
  background-image: url("./image/img-header.png");
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header button {
  background-color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 10px;
  width: 100px;
  margin-left: 25px;
}

header button:hover {
  background-color: #949494;
  border: 1px #2e2e2e solid;
}

header button a {
  text-decoration: none;
  font-family: 'Anton';
  font-size: 15px;
}

/* ---------- MAIN ---------- */

main {
  display: flex;
}

main h1 {
  font-family: 'Anton', sans-serif;
}

main section.banner-main-left {
  background-color: #202020;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 4px solid #202020;
  border-right: 0px;
}

main section.banner-main-left img {
  border-radius: 150px;
  width: 200px;
  margin: 25px auto 25px auto;
}

main section.banner-main-left h2 {
  margin: 0px;
  padding-left: 15px;
  font-size: 40px;
  background-color: #ffffff;
  color: #202020;
  margin-left: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}

main section.banner-main-left ul {
  padding: 10px;
  margin: 0px 10px 10px 40px;
  padding-left: 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main section.banner-main-left ul i {
  font-size: 50px;
  margin-right: 10px;
  color: #000000;
}

main section.banner-main-left ul li {
  list-style: none;
  font-size: 20px;
  display: flex;
  margin-bottom: 20px;
  color: #000000;
}


main section.banner-main-left ul li div {
  display: flex;
  flex-direction: column;

}

main section.banner-main-left ul li div span.banner-main-left-span1 {
  font-weight: 600;
  font-size: 25px;

}

main section.banner-main-left ul li div span.banner-main-left-span2 {
  font-weight: 100;
  margin-top: -15px;
}

.link-redes-sociales {
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}

.link-redes-sociales:hover {
  color: #8acaff;
  font-size: 35px;
}

main section.banner-main-right {
  background-color: #ffffff;
  width: 724px;
  border: 4px solid #202020;
  border-left: 0px;
}

.titulo-nombre-apellido {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
}

.titulo-nombre {
  font-size: 50px;
  letter-spacing: 5px;
}

.titulo-apellido {
  font-family: 'Zen Loop', cursive;
  font-size: 50px;
  margin-top: -15px
}

.subtitulo-nombre-apellido {
  text-align: end;
  margin: -25px 25px 0px 0px ;
  font-size: 20px;
}

.main-right-article {
  margin-left: 25px;
}

.main-right-title1 {
  font-size: 50px;
  margin: 0px;
}

.main-right-article div div {
  display: flex;
}

.main-right-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.main-right-div1 h3 {
  font-size: 25px;
  margin: 0px;
  text-align: center;
}

.main-right-div1 p {
  margin: 0px;
  font-style: italic;
  color: #999999;
  text-align: center;
  margin-top: -10px;
}

.main-right-div2 {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  align-items: baseline;
  margin-top: 30px;
}

.main-right-div2 h4 {
  font-size: 20px;

}

.main-right-div2 p {
  color: #4b4b4b;
  font-size: 20px;
  margin-left: 10px;
}