body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

header {
  border: 1px solid rgb(47, 47, 47);
  background-color: rgb(47, 47, 47);
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

header p {
  display: flex;
  justify-content: center;
  font-family: 'Fuggles', cursive;
  font-size: 150px;
  margin: 0px;
  color: white;
}

header div {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 15px;
  margin-top: 5px;
}

header div h1 {
  font-size: 15px;
  margin: 0px;
  font-weight: 400;
}

.icon-verified {
  font-size: 20px;
  color: white;
  margin-left: 5px;
}

main {
  border: 1px solid rgb(47, 47, 47);
  border-bottom: 0px;
  background-color: rgb(255, 255, 255);
}

.section-main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height:  350px;
}

.section-main-1 h2 {
  margin: 0px;
  color: rgb(47, 47, 47);
  font-size: 40px;
}

.section-main-1 ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

.section-main-1 ul li {
  margin: 10px 0px;
}

.section-main-1 ul li a {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: rgb(47, 47, 47);
  font-size: 30px;
  padding: 10px;
}

.section-main-1 ul li:hover {
  background-color: rgb(47, 47, 47);
  transition: background-color 2s, 2s;
  transform: scale(1.5);
  border-radius: 20px;
}

.section-main-1 ul li a:hover {
  color: #fff;
  transition: color 1s;
}

footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(47, 47, 47);
  background-color: rgb(47, 47, 47);
  padding: 0px 20px;
}

footer p {
  margin: 0px;
  color: white;
  font-size: 10px;
}