.body-1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  border: 1px solid black;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgb(77, 76, 76);
  color: white
}

.item {
  color: white;
}

.item:hover{
  color: rgb(4, 143, 113);
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
}

h2 {
  text-decoration:underline;
}