@import url('https://fonts.googleapis.com/css2?family=Anton&family=Style+Script&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.fondo1-border {
  background-color: rgb(155, 21, 21);
  height: 100vh;
  border: 25px solid rgb(155, 21, 21);
}

.fondo2-border {
  background-color: rgb(255, 255, 255);
  height: calc(100vh - 50px);
  border: 15px solid rgb(215, 40, 40);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
}

.titulo {
  font-family: "Style Script";
  font-size: 150px;
}

.main {

}

.trabajos ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trabajos ul li {
  background-color: rgb(215, 40, 40);
  margin: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgb(155, 21, 21);
  cursor: pointer;
  animation: caidaDeBolas 2s;
}

.trabajos ul li:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(155, 21, 21);
  transition: 0.5s;
}

.trabajos ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Anton";
  font-size: 25px;
}

.cara {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.cara:hover {
  transform:
  scale(2)
  translateX(-25px)
  translateY(-25px);
  transition: 2s;
}

.nombre {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  top: -40px;
  color: #fff;
  font-family: "Anton";
  /* background-color: cyan; */
}

@keyframes caidaDeBolas {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0px)
  }
}

@keyframes movimientoNombre {
  0% {
    
  }
}