* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.cara {
  background-color: rgb(215, 40, 40);
  border: 2px solid rgb(155, 21, 21);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.falsa-cara {
  background-color: rgb(215, 40, 40);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 5;
}

.ojo-izquierdo {
  position: absolute;
  left: 25px;
  top: 35px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 10;
}

.ojo-izquierdo-interno {
  position: absolute;
  left: 12px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(30, 30, 30);
}

.ojo-derecho {
  position: absolute;
  right: 25px;
  top: 35px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 10;
}

.ojo-derecho-interno {
  position: absolute;
  right: 12px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(30, 30, 30);
}

.ceja-izquierda {
  position: absolute;
  top: 30px;
  left: 21px;
  background-color: rgb(80, 21, 21);
  width: 30px;
  height: 10px;
  transform: rotate(30deg) skew(30deg);
  border-radius: 2px;
  z-index: 11;
}

.ceja-derecha {
  position: absolute;
  top: 30px;
  right: 21px;
  background-color: rgb(80, 21, 21);
  width: 30px;
  height: 10px;
  transform: rotate(-30deg) skew(-30deg);
  border-radius: 2px;
  z-index: 11;
}

.boca .boca-1 {
  background-color: rgb(226, 175, 34);
  border-top: 8px solid rgb(255, 195, 29);
  border-right: 8px solid rgb(226, 175, 34);
  border-bottom: 8px solid rgb(226, 175, 34);
  border-left: 8px solid rgb(255, 195, 29);
  position: absolute;
  top: 52px;
  left: 40.5px;
  transform: rotate(45deg) skew(-10deg, -10deg);
  z-index: 10;
}

.pelo {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 35px;
  top: -25px;
  z-index: 0;
}

.pelo1 {
  transform: rotate(-10deg);
}

.pelo1-arriba {
  position: absolute;
  background-color: rgb(215, 40, 40);
  width: 12px;
  height: 10px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border: 2px solid rgb(155, 21, 21);
}

.pelo1-abajo {
  position: absolute;
  top: 7px;
  background-color: rgb(215, 40, 40);
  width: 12px;
  height: 20px;
  border: 2px solid rgb(155, 21, 21);
  border-bottom: 0px;
  border-top: 0px;
}

.pelo1-abajo-falso {
  position: absolute;
  top: 8px;
  left: 8.5px;
  background-color: rgb(215, 40, 40);
  width: 8px;
  height: 16px;
  border-bottom: 0px;
  border-top: 0px;
  transform: rotate(25deg);
}

.pelo2 {
  position: absolute;
  left: -10px;
  top: 15px;
  transform: rotate(-35deg);
}

.pelo2-arriba {
  position: absolute;
  background-color: rgb(215, 40, 40);
  width: 12px;
  height: 10px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border: 2px solid rgb(155, 21, 21);
}

.pelo2-abajo {
  position: absolute;
  top: 7px;
  background-color: rgb(215, 40, 40);
  width: 12px;
  height: 15px;
  border: 2px solid rgb(155, 21, 21);
  border-bottom: 0px;
  border-top: 0px;
}

.fuegoGral {
  background-color: rgb(215, 40, 40);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: fuego 3s infinite;
}

.fuego1 {
  position: absolute;
  left: 45px;
  top: 15px;
}

.fuego2 {
  position: absolute;
  left: 25px;
  top: 12px;
}

.fuego3 {
  position: absolute;
  left: 15px;
  top: 18px;
}

.fuego4 {
  position: absolute;
  left: 5px;
  top: 25px;
}

.fuego5 {
  position: absolute;
  left: 55px;
  top: 5px;
}

.fuego6 {
  position: absolute;
  left: 62px;
  top: 20px;
}

.fuego7 {
  position: absolute;
  left: 70px;
  top: 15px;
}

.fuego8 {
  position: absolute;
  left: 80px;
  top: 20px;
}

.fuego9 {
  position: absolute;
  left: 87px;
  top: 35px;
}

.fuego10 {
  position: absolute;
  left: 0px;
  top: 40px;
}

@keyframes fuego {
  100% {
    transform: translateY(-60px)
    scale(0)
  }
}