@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 1024px;
  font-family: Roboto;
  margin: 0px auto;
  background-color: #dbdbdb;
}

header {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f3f3f3;
  height: 100px;
  padding: 10px 20px;
}

.header-div-1 {
  display: flex;
  align-items: center;
}

.header-div-1 h1 {
  padding-left: 10px;
}

.title-1 {
  color: #39B24A
}

.title-3 {
  color: #fc200c
}

.header-div-2 ul {
  display: flex;
  list-style: none;
}

.header-div-2 ul li {
  padding: 0px 6px;
}

.header-div-2 ul li a {
  text-decoration: none;
  color: #f3f3f3;
}

main {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 35px 20px;
}

main section {
  width: 490px;
  height: 350px;
}

main .main-section-1 {
  background-image: url("./image/delivery.jpg");
  border-radius: 5px;
}

main .main-section-1 h2 {
  padding: 20px 0px 0px 40px;
  color: #fc200c;
}

main .main-section-1 h2 span {
  color: #f3f3f3;
}

main .main-section-2 {
  background-color: #ffffff;
  border-radius: 5px;
}

main .main-section-2 h2 {
  text-align: center;
  padding-top: 26px;
  color: #fc200c;
}

main .main-section-2 h3 {
  margin: 58px 0px 0px 69px;
  font-weight: 900;
}

main .main-section-2 div {
  display: flex;
  justify-content: space-between;
  padding: 0px 74px;
}

main .main-section-2 div ol {
  margin-top: 20px;
}

main .main-section-2 div ol li {
  font-weight: 600;
  margin-bottom: 10px;
}






footer {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f3f3;
  height: 150px;
  padding: 19px 42px 19px 20px;
}

.footer-div-1 {
  display: flex;
  flex-direction: row;
}

footer .footer-div-1 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

footer .footer-div-1 ul li {
  margin: 6px 0px;
}

footer .footer-div-1 ul li a {
  text-decoration: none;
  color: #f3f3f3;
}

footer .footer-div-2 {
  display: flex;
  align-items: center;
}

footer .footer-div-2 h2 {
  padding-left: 10px;
}