@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #f3f3f3;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  font-family: Roboto;
  background-color: #ffffff;
}

header p {
  background-color: #1cd1b0;
  padding: 10px;
  font-size: 15px;
}

main h1 {
  font-size: 40px;
  padding: 28px;
  background-color: #00669f;
  margin-bottom: 154px;
  box-shadow: 0 10px 7px 0 #00000050;
}

.section-main-1 {
  display: flex;
  justify-content: space-evenly;
}

.heroe-batman {
  background-image:url("./image/fondo-batman.png");
  background-repeat: no-repeat;

}

.heroe-harley-quinn {
  background-image: url("./image/fondo-harley-quinn.png");
  background-repeat: no-repeat;
}

.carta-heroe {
  border-radius: 15px 15px 0px 0px;
  width: 300px;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding-bottom: 18px;
  box-shadow: 0 4px 4px 0 #00000025;
}

.carta-heroe i {
  color: #cc2424;
  font-size: 30px;
  position: relative;
  top: -105px;
  left: -120px;
}

.carta-heroe img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  top: 130px;
  box-shadow: 0 4px 4px 0 #00000050;
}

.carta-heroe h2 {
  font-size: 30px;
}

.carta-heroe p {
  font-size: 16px;
}

.carta-heroe a {
  font-size: 15px;
  background-color: #00669f;
  width: 128px;
  height: 48px;
  color: #f3f3f3;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta-heroe h2, .carta-heroe p, .carta-heroe a {
  position: relative;
  top: 110px;
  margin: 10px 16px;
}

footer {
  margin-top: 200px;
  background-color: #00669f;
  padding: 16px;
}

footer p {
  color: #ffffff;
  font-size: 16px;
}