@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Inter&family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #f3f3f3;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  background-color: #ffffff;
}

.header-descuento p {
  display: flex;
  align-items: center;
  background-color: #1cd1b0;
  padding-left: 10px;
  font-size: 15px;
  height: 23px;
}

header {
  position: sticky;
  top: 0px;
  z-index: 10;
}

header h1 {
  font-size: 40px;
  padding: 28px;
  background-color: #00669f;
  box-shadow: 0 10px 7px 0 #00000050;
}

.nav-index {
  background-color: #001D2D;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.nav-index nav ul{
  list-style: none;
  display: flex;
}

.nav-index nav ul a{
  display: flex;
  padding: 0px 10px;
  color: #ffffff;
  text-decoration: none;
}

.login-main {
  display: flex;
  justify-content: center;
}

main .login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0px;
  width: 620px;
  font-family: Karla;
}

main .login-section h2 {
  font-family: Inter;
  font-size: 72px;
  color: #333333;
  width: 100%;
  text-align: left;
  margin-bottom: 55px;
  height: 80px;
}

main .login-section textarea {
  border: 2px solid black;
  padding-left: 27px;
  padding-top: 5px;
  font-size: 20px;
  font-family: Karla;
}

main .login-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main .login-section form input {
  height: 60px;
  border: 2px solid black;
  margin-bottom: 20px;
  color: #000000;
  padding-left: 27px;
  font-size: 20px;
  font-family: Karla;
}

main .login-section form input::placeholder {
  color: #000000;
  font-family: Karla;
  font-size: 20px;
}

main .login-section form input:focus {
  background-color: #a7e6da;
}

main .login-section form button {
  height: 55px;
  border: 0px;
  background-color: #1cd1b0;
  border-radius: 23px;
  font-family: Karla;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-top: 39px;
  margin-bottom: 20px;
  cursor: pointer;
}

main .login-section form button:hover {
  border: 3px solid #1cd1b0;
  color: #1cd1b0;
  background-color: #ffffff;
}

main .login-section form div a {
  margin-right: 5px;
  text-decoration: none;
  color: #00669F;
}

main .login-section form select {
  height: 60px;
  border: 2px solid black;
  padding-left: 27px;
  font-size: 20px;
  font-family: Karla;
}

main .login-section form select:hover {
  background-color: #a7e6da;
}

main .text-alt {
  display: flex;
  justify-content: center;
}

main .text-alt a {
  padding: 0px 5px;
}

main .buttons {
  display: flex;
  justify-content: space-around;
}

main .buttons .reset {
  background-color: #888888;
  width: 300px;
  height: 54px;
  color: #ffffff;
}

main .buttons .submit {
  background-color: #1CD1B0;
  width: 300px;
  height: 54px;
  color: #000000;
}

.section-main-1 {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}

.heroe-batman {
  background-image: url("./image/fondo-batman.png");
  background-repeat: no-repeat;

}

.heroe-harley-quinn {
  background-image: url("./image/fondo-harley-quinn.png");
  background-repeat: no-repeat;
}

.carta-heroe {
  border-radius: 15px 15px 0px 0px;
  width: 300px;
  height: 530px;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding-bottom: 18px;
  box-shadow: 0 4px 4px 0 #00000025;
}

.carta-heroe i {
  color: #cc2424;
  font-size: 30px;
  position: relative;
  top: -105px;
  left: -120px;
}

.carta-heroe img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  top: 130px;
  box-shadow: 0 4px 4px 0 #00000050;
}

.carta-heroe h2 {
  font-size: 30px;
}

.carta-heroe p {
  font-size: 16px;
}

.carta-heroe a {
  font-size: 15px;
  background-color: #00669f;
  width: 128px;
  height: 48px;
  color: #f3f3f3;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta-heroe a:hover {
  background-color: #f3f3f3;
  border: 2px solid #00669f;
  border-radius: 5px;
  color: #00669f;
}

.carta-heroe h2, .carta-heroe p, .carta-heroe a {
  position: relative;
  top: 110px;
  margin: 10px 16px;
}

.button-agregar {
  width: 82px;
  height: 82px;
  position: absolute;
  top: 500px;
  right: 25px;
}

.añadirPersonaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00669F;
  margin: 40px 40px;
  width: 950px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px #333333;
}

.añadirPersonaje h2 {
  color: #FBFFFD;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
}

.añadirPersonaje p {
  color: #FBFFFD;
  font-family: Inter;
  font-size: 20px;
}

.añadirPersonaje form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 125px;
}

.añadirPersonaje form div {
  display: flex;
  margin: 0px 12px;
  width: 100%;
}

.añadirPersonaje form div div {
  display: flex;
  flex-direction: column;
}

.añadirPersonaje form div div label {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  margin: 20px 0px;
  width: 100%;
}

.añadirPersonaje form div div .input-text-date {
  width: 343px;
  height: 63px;
  border-radius: 10px;
  border: 0px;
  font-family: Inter;
  font-size: 20px;
  padding: 10px
}

.añadirPersonaje form div div textarea {
  width: 343px;
  height: 307px;
  border-radius: 10px;
  border: 0px;
  font-family: Inter;
  font-size: 20px;
  padding: 10px;
  margin-top: 30px;
}

.añadirPersonaje form div div .select-file {
  height: 63px;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.añadirPersonaje form div div .poderes {
  margin-top: 30px;
}

.añadirPersonaje form div div .poderes label {
  display: flex;
  font-size: 16px;
  margin: 6px 0px;
}

.añadirPersonaje form div div hr {
  width: 95%;
  margin: 30px auto 0px auto;
}

.añadirPersonaje form div div .poderes label input {
  width: 24px;
  height: 20px;
  margin-right: 20px;
  border: 1px solid #c4c4c4;
}

.añadirPersonaje form button {
  background-color: #1CD1B0;
  width: 466px;
  height: 87px;
  border-radius: 23px;
  border: 0px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 45px;
  cursor: pointer;
}

.añadirPersonaje form button:hover {
  background-color: #001D2D;
  color: #fff;
}

footer {
  background-color: #00669f;
  padding: 16px;
}

footer p {
  color: #ffffff;
  font-size: 16px;
}

@media(max-width: 1000px){
  .section-main-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .carta-heroe{
    margin: 25px 0px;
  }

  .button-agregar {
    position: sticky;
    bottom: 25px;
    left: 725px;
  }

  main h1{
    margin: 0px;
  }

  footer{
    margin-top: 50px;
  }
}