body {
  font-family: 'Times New Roman', Times, serif;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

/* ------ header ------- */

header {
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 189px;
}

header h1 {
  background-color: #C4C4C4;
  width: 1440px;
  height: 60px;
  text-align: center;
  color: #005677;
  font-size: 35px;
  letter-spacing: 10px;
}

header img {
  width: 100px;
  height: 147px;
}

/* ----- main ----- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

main section {
  display: flex;
  flex-direction: column;
  width: 1041px;
}

main section h2 {
  background-color: #C4C4C4;
  color: #005677;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 0px;
  letter-spacing: 5px;;
}

main section ul li span {
  font-weight: bold;
  font-style: italic;
}

.formato-tabla {
  display: flex;
  margin-bottom: 10px;
  margin-top: 0px;
}

.formato-tabla-fecha {
  font-weight: bold;
  font-size: 15px;
  margin: 0px 5px 0px 0px;
}

.formato-tabla-descripcion p {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ----- footer ------ */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005677;
  height: 37px;
  margin-top: 100px;
}

footer p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
}

footer img {
  margin: 0px 15px;
  width: 20px;
  height: 20px;
}